/*******************************
 *  LAYOUT
 *******************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $theme-font;
}

/* Only necessary for window height sized blocks. */
html,
body,
.block {
  height: 100%;
}

.main-section {
  padding: 3rem 0;
}

.nav-wrapper li a {
  font-size: 1.4rem;
  padding: 0.5rem 1rem 0.2rem 2rem;
  height: auto;
}

.nav-wrapper li a:hover {
  background: none;
}

.menu-title {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0 1rem;
}

.page-footer {
  .col {
    text-align: center;
  }

  .btn {
    margin-top: 0.7rem;
  }

  .social-links {
    margin-top: 1.3rem;
  }

  .medium-btn {
    font: 700 11px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    background-color: #0be370;
    background-image: linear-gradient(to bottom, #32fc8d 0, #0be370 100%);
    border: 1px solid #14c767;
    padding: 0 5px 3px 4px;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    margin: 0.7rem 0;
    color: #333;
    height: 20px;
  }

  .medium-btn:hover {
    text-decoration: none;
    background-image: linear-gradient(to bottom, #0be370 0, #14c767 100%);
  }

  .medium-btn .material-icons {
    font-size: 1rem;
    margin-right: 0.4rem;
  }
}

.footer-copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
