body {
    font-family: 'Sedgwick Ave Display', cursive;
    background: #111;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
}

.canvas-container {
    border: 3px dotted #fff;
    padding: 2px;
}

.game-canvas {
    padding: 0;
    margin: 0;
}

.joysticks {
    display: flex;
    margin-top: 2rem;
}

.players-joystick {
    padding: .5rem;
    background: #fff;
    outline: 2px dotted #fff;
    color: #111;
    margin: 0 .5rem;
}

.grid {
    display: grid;
    grid-gap: 1px;
}

button {
    width: 2rem;
    height: 2rem;
    margin: .2rem;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    background: linear-gradient(rgb(216, 216, 216), rgb(209, 209, 209), rgb(186, 186, 186));
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
}

h1 {
    margin: 1rem auto;
    text-align: center;
    font-size: 2.4rem;
}
h2 {
    font-size: 1.4rem;
    margin: 0.5rem .2rem 1rem;
}


.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
