html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Sedgwick Ave Display', cursive;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
}

.game-canvas {
    border: 3px dotted #212121;
    margin: 0;
    width: 100%;
}

.joysticks {
    display: flex;
    margin-top: 2rem;
}

.players-joystick {
    padding: .5rem;
    outline: 2px dotted #212121;
    margin: 0 .5rem;
}

.grid {
    display: grid;
    grid-gap: 1px;
}

.players-joystick .btn {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
}
.players-joystick .btn i {
    line-height: 2.6rem;
    font-size: 1.8rem;
}

h1 {
    margin: 1rem auto;
    text-align: center;
    font-size: 2.4rem;
}
h2 {
    font-size: 1.4rem;
    margin: 0.5rem .2rem 1rem;
}


.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
