/*******************************
 *  LAYOUT
 *******************************/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Sedgwick Ave Display', cursive;
}


#toast-container {
    min-width: 100%;
    bottom: auto;
    left: 0;
    right: 0;
    top: 0;
}


/*******************************
 *  GAME
 *******************************/
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
}

.game-canvas {
    border: 3px dotted #212121;
    margin: 0;
    width: 100%;
}

.joysticks {
    display: flex;
    margin-top: 2rem;
}

.players-joystick {
    padding: .5rem;
    outline: 2px dotted #212121;
    margin: 0 .5rem;
}

.grid {
    display: grid;
    grid-gap: 1px;
}

.players-joystick .btn {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
}
.players-joystick .btn i {
    line-height: 2.6rem;
    font-size: 1.8rem;
}

h1 {
    font-size: 1.2rem;
    margin: 0.5rem .2rem 1rem;
}
